
.tabs-container 
{
    display:table-cell; width: 146px; vertical-align: top;
    background: -webkit-linear-gradient(right, #dddddd, #e6e6eb, #dddddd);
    background: -moz-linear-gradient(right, #dddddd, #e6e6eb, #dddddd);
    background: -ms-linear-gradient(right,  #dddddd, #e6e6eb, #dddddd);
    background: -o-linear-gradient(right,  #dddddd, #e6e6eb, #dddddd);
}

.tabs-container ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tabs-container ul li {
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.tabs-container ul:not(.ul-menu) li:hover:not(.tab-sep), .tabs-container ul:not(.ul-menu) li .k-state-hover:not(.tab-sep)
{
    background: #b7b7b7; /* Old browsers */
    background: -moz-linear-gradient(top, #b7b7b7 0%, #e6e6e6 35%, #EDEDED 50%, #e6e6e6 65%, #b7b7b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(35%,#e6e6e6), color-stop(50%,#EDEDED), color-stop(65%,#e6e6e6), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b7b7b7 0%,#e6e6e6 35%,#EDEDED 50%,#e6e6e6 65%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b7b7b7 0%,#e6e6e6 35%,#EDEDED 50%,#e6e6e6 65%,#b7b7b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b7b7b7 0%,#e6e6e6 35%,#EDEDED 50%,#e6e6e6 65%,#b7b7b7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b7b7b7 0%,#e6e6e6 35%,#EDEDED 50%,#e6e6e6 65%,#b7b7b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
}

.tabs-container ul.ul-menu li:hover:not(.tab-sep), .tabs-container ul.ul-menu li .k-state-hover:not(.tab-sep)
{
    background: none !important;
}

    .tabs-container > ul li.active:not(.tab-sep), .tabs-container > ul li.active:hover, .tabs-container .k-state-active:not(.tab-sep), .tabs-container .k-state-active:hover {
        background-image: none !important;
        background-color: #f5f5f5 !important;
    }

.tabs-container .border-right, .tabs-container .border-left {
    background-image: none !important;
    background-color: #c3c3c3;
}

.tabs-container ul li a {
    font-size: 14px;
    color: #283c64;
}

.tabs-container ul li .icon {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;        
    margin:0px !important;
    display: inline-table;
    text-align: center;
    padding-top: 38px;
    padding-right: 6px;
}

.tabs-container ul li .icon.k-link
{
    line-height: normal;
    padding: 20px 4px 0px 0px;
}
.tabs-container ul li .icon.k-link .k-i-arrow-s
{
    margin-right: 0px;
    background-image: url(../MojImages/icons/GrayTriangle.png);
    background-position: top left;
    height: 7px;
    width: 14px;
}

.tabs-container .tab-sep, .tabs-container .tab-sep:hover, .tabs-container .tab-sep.active {
    padding-top: 0;
    margin: 0 7% !important;
    width: 86% !important;
    height: 2px !important;
    background-image: none;
    background: -webkit-linear-gradient(top, #c8c8c8  50%, #FFFFFF 50%);
    background: -moz-linear-gradient(top, #c8c8c8  50%, #FFFFFF 50%);
}

.tabs-container .tab-menu {
    width: 100%;
}

.tabs-container .tab-menu .txt-menu {
    background-image: url(../MojImages/icons/NavTriangle.png);
    background-position: 10px 40px;
    background-repeat: no-repeat;
}

.tabs-container .tab-menu .triangle {
    background-image:none; 
    width:11px; 
    height:11px;
    margin-top: 16px;
    margin-right: 5px;
}

.tabs-container .ul-menu 
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-height: 60px;
    width: 134px !important;
    border-width: 0px !important;
    background-color: transparent !important;
    border-top: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-border-top-left-radius: 1px !important;
    -moz-border-top-left-radius: 1px !important;
    border-top-left-radius: 1px !important;
}

.tabs-container .ul-menu li:not(.tab-sep), .ul-menu.k-menu .k-group .k-item:not(.tab-sep) {
    width: auto !important;
    border-bottom: none !important;
    background: transparent !important;
    margin: 0px 0;
    padding: 5px 20px;   
}

.tabs-container .ul-menu li, .tabs-container .ul-menu.k-menu .k-group .k-item {
    border-bottom: none !important;
    
}

.tabs-container .k-menu .k-group .k-item:first-child {
    margin-top: 0px;
}

.tabs-container .k-menu .k-group .k-item:last-child {
    margin-bottom: 0px;
}

.tabs-container .k-menu .k-group .k-item.k-state-hover:not(.tab-sep) {
    background-color: transparent !important;
    background-image: none;
}

.tabs-container .k-menu .k-group .k-item > .k-link {
    padding: 3px 0 0;
    text-align: center;
    color: #283c64;
}

.tabs-container .k-menu .k-group .k-item > .k-link:hover {
    font-weight: bold;
}


.tabs-container .k-menu {
    cursor: pointer;
}

.tabs-container .k-menu.k-widget, .k-menu .k-item, .k-widget.k-menu-horizontal > .k-item { 
    border-width: 0;
}

.tabs-container .k-menu::after {
    display: none;
}

.tabs-container .k-animation-container {
    right: 146px !important;
    top: 0px !important;
    padding: 0px !important;
    border: 1px solid #b1b1b1;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    background: -webkit-linear-gradient(bottom, #dddddd, #eaeaea);
    background: -moz-linear-gradient(bottom, #dddddd, #eaeaea);
    background: -ms-linear-gradient(bottom, #dddddd, #eaeaea);
    background: -o-linear-gradient(bottom, #dddddd, #eaeaea);
}

.tabs-container .k-popup, .k-menu .k-group, .k-grid .k-filter-options, .k-time-popup, .k-datepicker-calendar, .k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-imagebrowser .k-image {
box-shadow: 0 0px 0px 0 rgba(0,0,0,0.3) !important;
-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.3) !important;
}

/*************************************************************************************************/

.tabs-container .k-tabstrip-items
{
    list-style-type: none; 
    margin: 0 !important; 
    font-weight: normal !important; 
    padding: 0 !important; 
    height: 100% !important;
    background-color: transparent !important;
    background-image: none !important;
}
.tabs-container .k-tabstrip-items > .k-state-default 
{
    float: none;
    min-width: 146px !important;
    height: 55px !important;
    text-align: center !important;
    position: relative !important;
    cursor: pointer !important;
    background-color: transparent !important;
    border: 0 !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-width: 0px !important;
    border-bottom-width: 0px !important;
    padding: 0 !important;
    background-image: none !important;
    
}
.tabs-container .k-tabstrip-items > .k-state-active 
{
    background-image: none !important;
}

.tabs-container .k-tabstrip-items > .k-item {
    margin: 0 !important;
}

.tabs-container .k-tabstrip-items .k-link {
    padding: 0 !important;
}

/**/
.tabs-container ul li .icon.info
{
    background-image: url(../MojImages/icons/IconInfo.png);
}

.tabs-container .border-right, .tabs-container .border-left {
    background-color: transparent;
 }

